<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <externallinksinnewtab>
            <general>
                <enable>1</enable>
                <enable_popup>1</enable_popup>
                <popup_title>Leave Site?</popup_title>
                <popup_text>Changes may not be saved. Do you wish to continue?</popup_text>
            </general>
        </externallinksinnewtab>
    </default>
</config>