<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="externallinksinnewtab" translate="label" sortOrder="99999">
            <label>Dacod</label>
        </tab>
        <section id="externallinksinnewtab" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>External Links</label>
            <tab>externallinksinnewtab</tab>
            <resource>Dacod_ExternalLinksInNewTab::externallinksinnewtab_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_popup" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled an exit popup will come up to alert the user that they are about to open an external link in a new tab. If the user confirms they would like to open the link it will be opened in a new tab.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="popup_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Title</label>
                    <comment>This will appear at the top of the popup.</comment>
                    <depends>
                        <field id="enable_popup">1</field>
                         <field id="enable">1</field>
                    </depends>
                </field>
                <field id="popup_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Text</label>
                    <comment>This text will appear on the popup body.</comment>
                    <depends>
                        <field id="enable_popup">1</field>
                         <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>